# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
#*.exe
*.out
*.app


*.pdb
*.sdf
*.suo
*.opensdf

397-Game-Engine/VS_final_ver/Debug/
397-Game-Engine/VS_final_ver/Release/
397-Game-Engine/VS_final_ver/ICT397_Assignment/Debug/
397-Game-Engine/VS_final_ver/ICT397_Assignment/Release/
